langchain
langchain-core
langchain-community
langchain_google_genai 
PyMuPDF
numpy
torch
Pillow
transformers
faiss-cpu
scikit-learn
langchain-text-splitters
sentencepiece
protobuf
tokenizers
torchvision
